<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" style="color: white;">Visit<span style="color: #776BCC;">Mex</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Iniciar Sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Registrarse</a>
        </li>
      </ul>
    </div>
  </nav>

<div class="sample-header">
    <div class="sample-header-section">
      <h1>Conoce más sobre México y sus sitios naturales</h1>
      <h3>Para acceder a la información crea una cuenta o inicia sesión</h3>
    </div>
</div>

<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Form -->
    <section class="footer">
      <form action="footer">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Registrate para nuestras noticias diarias</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example29" class="form-control" placeholder="Email Addres"/>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light mb-4">
              Subscribir
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <p>© 2023 Copyright: Visit<span style="color: #776BCC;">Mex</span></p>
  </div>
  <!-- Copyright -->
</footer>